<mat-nav-list>
    <mat-list-item> 
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">Home</a> 
    </mat-list-item>
    <mat-list-item> 
        <a routerLink="/random-roller" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">Force Roller</a>
    </mat-list-item>
    <mat-list-item> 
        <a routerLink="/mechs" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">Mechs</a>
    </mat-list-item>
    <mat-list-item> 
        <a routerLink="rosters" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">Rosters</a>
    </mat-list-item>
    <mat-list-item> 
        <a routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">User</a>
    </mat-list-item>
    <mat-list-item> 
        <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="this.sidenavService.close()">Admin</a>
    </mat-list-item>
</mat-nav-list>