<div class="layout-container">
  <fg-header></fg-header>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav  [opened]="this.sidenavService.isOpen()" #snav [mode]="this.breakpointService.isMobile() ? 'over' : 'side'" [fixedInViewport]="this.breakpointService.isMobile()" fixedTopGap="56">
        <fg-side-panel></fg-side-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <fg-main-content></fg-main-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <fg-footer></fg-footer>
</div>

