<div class="form-wrapper">
    <h2>Force Generator Setup</h2>
    <form [formGroup]="forceBuilderForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header></mat-card-header>
            <mat-card-content>
                <div class="flex flex-row">
                    <mat-form-field>
                        <mat-label>Selection Roster</mat-label>
                        <mat-select id="rosterSelect" formControlName="selectionRoster" (selectionChange)="this.onRosterChange($event)" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let roster of rosters" [value]="roster">{{roster.name}}</mat-option>
                        </mat-select>
                        @if (forceBuilderForm.get('selectionRoster')?.hasError('required')) {
                        <mat-error>Please choose a force roster</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="battleValue">Battle Value</mat-label>
                        <input id="battleValue" matInput formControlName="battleValue" type="number" fgNumberOnly />
                        @if (forceBuilderForm.get('battleValue')?.hasError('required')) {
                        <mat-error>Battle Value is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div>
                    <mat-label>Base Gunnery Skill : </mat-label>
                    <mat-label>{{forceBuilderForm.get('baseGunnerySkill')!.value}}</mat-label>
                    <mat-slider min="1" max="5" step="1">
                        <input id="gunnerySkillSet" matSliderThumb showTickMarks formControlName="baseGunnerySkill">
                    </mat-slider>
                </div>
                <div>
                    <mat-label>Base Piloting Skill : </mat-label>
                    <mat-label>{{forceBuilderForm.get('basePilotingSkill')!.value}}</mat-label>
                    <mat-slider min="1" max="5" step="1">
                        <input id="pilotingSkillSet" matSliderThumb showTickMarks formControlName="basePilotingSkill">
                    </mat-slider>
                </div>
                <mat-checkbox id="allowDuplicates" formControlName="allowDuplicates">Allow
                    Duplicates</mat-checkbox>
                <mat-checkbox id="allowOfficers" formControlName="allowOfficers">Allow
                    Officers</mat-checkbox>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button type="submit" [disabled]="!forceBuilderForm.valid">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
