@import "./assets/material.scss";
@import "./assets/variables.scss";
@import "./assets/colors.scss";
@import "./assets/custom.scss";
@import "./assets/tailwind.scss";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
